.frame {
  display: flex;
  justify-content: center;
}

.mobileBackground {
  background: linear-gradient(270deg,#23ABA3 0%, #1E948D 22%, #197A74 48%, #135D58 76%, #0E4542 100%);
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  position: relative;
}

.addButton {
  position: absolute;
  left: 20px;
  top: 10px;
  cursor: pointer;
}

.categoryBox {
  display: flex;
  position: absolute;
  top: 10px;
  left: 75px;
  background: white;
  border-radius: 10px;
  align-items: center;
}

.main {
  position: absolute;
  left: 23px;
  top: 70px;
  background: white;
  border-radius: 27px;
}

.category {
  position: absolute;
  border-radius: 10px;

}

.categoryTitle {
  position: absolute;
  top: 9px;
  left: 15px;
  font-size: 12px;  
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: white;
}

.background-text {
  font-size: 14px;  
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: black;
  position: relative;
  left: 10px;
  cursor: pointer;
}

.deleteButton {
  position: absolute; 
  top: 2px;
  left: 100px;
  cursor: pointer;
}

.categoryHeader {
  position: relative;
  top: 8px;
  display: flex;
  align-items: center;
}